.container {
  border: 1px;
  margin: 25px 25px;
  height: 100%;
}
.btn {
  border: 1px;
  background-color: inherit;
  padding: 16px 20px;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
  color: orange;
}
.btn:hover {
  background: #eee;
}

.text {
  color: orange;
  margin: 10px;
}

.border {
  border: 1px solid black;
  margin: 50px auto;
  width: 50%;
}

.quizBox {
  margin: 50px auto;
  width: fit-content;
}
p {
  margin: 10px;
}
#quizBtn {
  display: inline-block;
  margin: 5px;
}

.btnClass {
  margin: 5px;
}

.ncClass {
  margin: 25px auto;
  border: 2px;
}
/* #question-list {
 border: 1px solid black; 
 height: 50%; 
 } */

.divCont {
  margin: 10%;
}

.btnClass {
  height: 75%;
  width: fit-content;
  /* cursor: pointer; */
}
.divForBtn_class {
}
#btnid_0 {
}
