body {
  background-color: black;
}
.container {
  border: 1px;
  margin: 25px 25px;
  height: 100%;
}
.btn {
  border: 1px;
  background-color: inherit;
  padding: 16px 20px;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
  color: #ffa500;
}
.btn:hover {
  background: #eee;
}

.text {
  color: #f08731;
  margin: 10px;
}

.border {
  border: 1px solid black;
  margin: 50px auto;
  width: 50%;
}

.quizBox {
  background-color: #ff7077;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size: x-large;
  font-family: Open Sans, sans-serif;
  color: #fff;
}
p {
  margin: 10px;
}
#quizBtn {
  display: inline-block;
  margin: 5px;
}

.btnClass {
  margin: 5px;
}

.ncClass {
  margin: 25px auto;
  border: 2px;
}
/* #question-list {
 border: 1px solid black; 
 height: 50%; 
 } */

.divCont {
  /* margin: 10%; */
}

.btnClass {
  height: 75%;
  width: fit-content;
  /* cursor: pointer; */
}
.divForBtn_class {
  margin: 2%;
  padding: 1%;
  margin-left: 5%;
}
#btnid_0 {
}
.answer_ {
  margin: 2%;
}

.divHoldingAllThree {
  border: 3px solid black;
  background-color: #9e9e9e;
  margin: 7% auto;
  padding: 3%;
}
